[mysqld]
complemento_de_autenticacion_predeterminado=contraseña_nativa_mysql 
omitir_cache_de_host 
omitir_resolucion_de_nombre 
datadir=/var/lib/mysql 
socket=/var/run/mysqld/mysqld.sock 
priv_de_archivo_seguro=/var/lib/archivos_mysql 
usuario=mysql 
id_de_servidor=1 
log_bin= 1 
formato_binlog=ROW 
binlog_do_db=mi_base_datos
archivo pid=/var/run/mysqld/mysqld.pid 
[cliente] 
socket=/var/run/mysqld/mysqld.sock
!incluidodir /etc/mysql/conf.d/